# gitignore

## Artifacts and Caches
/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*

## User settings and environment
dev-config.edn
test-config.edn
profiles.clj
/.env
.nrepl-port
/log

## IntelliJ
/.idea
*.iml

## Databases and file caches
*.db
/characters

## Mac specific
.DS_Store
