{% extends "base.html" %}
{% block content %}
<style type="text/css">
  figure:hover {background-color: #DDD;}
</style>

<div class="row">
    <div class="col-sm-12">
        <form class="form"
              action="/"
              method="get">
            <div class="form-group">
                <div class="form-group row">
                    <label for="search"
                           class="col-sm-2 col-form-label text-right">Search:</label>
                    <div class="col-sm-10">
                        <input type="text"
                               class="form-control"
                               name="search"
                               id="search" value="{{search}}">
                    </div>
                </div>

                <div class="form-group-row">
                    <label for="search"
                           class="col-sm-2 col-form-label text-right">Status:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio"
                               name="status" id="status1"
                               value="all"
                               {% ifequal status
                               "" %} checked{%endifequal%}>
                        <label class="form-check-label"
                               for="status1">all</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio"
                               name="status" id="status2"
                               value="prospective"
                               {% ifequal status
                               "prospective" %} checked{%endifequal%}>
                        <label class="form-check-label"
                               for="status2">prospective</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio"
                               name="status" id="status3"
                               value="current"
                               {% ifequal status
                               "current" %} checked{%endifequal%}>
                        <label class="form-check-label"
                               for="status3">current</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio"
                               name="status" id="status4"
                               value="non-active"
                               {% ifequal status
                               "non-active" %} checked{%endifequal%}>
                        <label class="form-check-label"
                               for="status4">non-active</label>
                    </div>
                </div>



                <div class="form-group-row">
                    <label for="search"
                           class="col-sm-2 col-form-label text-right">Sorting:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio"
                               name="order" id="order1"
                               value="descending"
                               {% ifequal descending?
                        "true" %} checked{%endifequal%}>
                        <label class="form-check-label"
                               for="status1">descending</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio"
                               name="order" id="order2"
                               value="ascending"
                               {% ifequal descending?
                        "false" %} checked{%endifequal%}>
                        <label class="form-check-label"
                               for="status2">ascending</label>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="form-check form-check-inline col-sm-2">&nbsp;
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">

        {% for customer in customers %}
        <figure class="figure">
            <a href="customer/{{customer.customer-id}}/"
               class="text-decoration-none">
                <img src="{{customer.thumbnail-path}}/standard_amazing.{{customer.thumbnail-extension}}"
                     class="figure-img img-fluid rounded"
                     alt="{{customer.name}}">
                <figcaption class="figure-caption .text-truncate">
                    {{customer.name}}
                </figcaption>
            </a>
        </figure>
        {% endfor %}

    </div>
</div>

<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item {% ifequal nav.previous
            "-1" %} disabled{%endifequal%}">
        <a class="page-link" href="/?{{previous-query-string}}">Previous</a>
        </li>
        <li class="page-item {% ifequal nav.next
            "-1" %} disabled{%endifequal%}">
        <a class="page-link" href="/?{{next-query-string}}">Next</a>
        </li>
    </ul>
</nav>
{% endblock %}
