{% extends "base.html" %}
{% block content %}
<style type="text/css">
  figure:hover {background-color: #DDD;}

</style>
<div class="row">
    <div class="col-sm-12">

        {% for customer in customers %}
        <figure class="figure">
            <a href="customer/{{customer.customer-id}}/"
               class="text-decoration-none">
                <img src="{{customer.thumbnail-path}}/standard_amazing.{{customer.thumbnail-extension}}"
                     class="figure-img img-fluid rounded"
                     alt="{{customer.name}}">
                <figcaption class="figure-caption .text-truncate">
                    {{customer.name}}
                </figcaption>
            </a>
        </figure>
        {% endfor %}

    </div>
</div>

<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item {% ifequal nav.previous "-1" %} disabled{%endifequal%}">
            <a class="page-link" href="/?page={{nav.previous}}">Previous</a>
        </li>
        <li class="page-item {% ifequal nav.next "-1" %} disabled{%endifequal%}">
            <a class="page-link" href="/?page={{nav.next}}">Next</a>
        </li>
    </ul>
</nav>
{% endblock %}
